@import '../../../variables.scss';

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 200px;
  @media (max-width: 700px) {
    padding: 0 20px;
    font-size: 0.8em;
  }
  overflow: hidden;
  background-color: $navbar-background-color;

  li {
    float: left;

    &.right {
      float: right;
    }

    a {
      display: block;
      color: $navbar-text-color;
      text-align: center;
      padding: 14px 8px;
      color: $navbar-text-color;
      text-decoration: none;

      &:hover {
        background-color: $navbar-background-color-active;
      }

      .logo {
        font-weight: bold;
      }

      .added {
        display: inline-block;
        margin-left: 5px;
        border-radius: 5px;
        padding: 0 6px;
        background-color: $navbar-added-background-color;
        color: $navbar-added-text-color;
      }
    }
  }
}
